# Ex1 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [31]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) and assign it to a variable called chipo.

In [32]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(url, sep="\t")
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Name of the max valued product

In [33]:
chipo["item_price"]= chipo["item_price"].str.replace("$","").astype(float)
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

In [34]:
chipo.loc[chipo["item_name"] == "Chicken Bowl",["quantity","item_price"]].sort_values("item_price").drop_duplicates()

      quantity  item_price
3101         1        8.19
348          1        8.49
4236         1        8.50
4511         1        8.75
2919         1       10.58
5            1       10.98
3249         1       11.25
2771         2       16.98
1017         2       17.50
2075         2       21.96
4423         2       22.50
1514         3       26.25
409          3       32.94

In [35]:
str(chipo[chipo["item_price"] == chipo["item_price"].max()]["item_name"].values[0])

'Chips and Fresh Tomato Salsa'

In [36]:
chipo["unit_price"] = chipo["item_price"] / chipo["quantity"]

### Step 4. How many products cost more than $10.00?

In [37]:
chipo[chipo["unit_price"]>10]["item_name"].nunique() # Se ha aplicado un filtro de más de 10 $ y luego se han impreso los nombres asociados.
# Con nunique nos cuanta los valores únicos de esa lista de productos (25)

25

### Step 4.1: Y cuántos pedidos se han hecho con un producto de más de 10$? Es lo mismo?

In [ ]:
chipo[chipo["unit_price"] > 10]["order_id"].nunique() # Se aplica la máscara para precios mayores de 10 $ y se desea saber los pedidos asociados (order_id)
# Con nunique filtramos loa valores repetidos y contamos el número de pedidos

787

### Step 4.2: Y cuántos pedidos se han hecho de más de 10$? Es lo mismo?

In [56]:
ordenes_unicas = chipo["order_id"].unique()
mas_de_10dol = 0
for id in ordenes_unicas:
    order_df = chipo[chipo["order_id"] == id]
    total = order_df["item_price"].sum()
    #print(f"Orden {id}, total: {total} $")
    if total >= 10:
        mas_de_10dol += 1
print(mas_de_10dol)

1834

In [78]:
serie_mas_10 = chipo.groupby("order_id")["item_price"].sum() > 10 # Pendiente de revisión
serie_mas_10.sum()

np.int64(1834)

### Step 4.3: Y en cuántos pedidos se ha pagado más de 10$ por un mismo producto? Es lo mismo?

In [64]:
chipo[chipo["item_price"] > 10]["order_id"].nunique()
# Aplicamos una máscara para saber cuántos pedidos se han pagado más de 10 $ en más de un producto, donde obtenemos un total de 133 pedidos.

863

### Step 5. What is the price of each item and name it unit_price. Get only item_name and unit_price

In [65]:
chipo["unit_price"] = chipo["item_price"] / chipo["quantity"]
chipo[["item_name","unit_price"]]

                                  item_name  unit_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl        8.49
...                                     ...         ...
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [67]:
chipo[["item_name","unit_price"]].sort_values("item_name")

              item_name  unit_price
3389  6 Pack Soft Drink        6.49
341   6 Pack Soft Drink        6.49
1849  6 Pack Soft Drink        6.49
1860  6 Pack Soft Drink        6.49
2713  6 Pack Soft Drink        6.49
...                 ...         ...
2384  Veggie Soft Tacos        8.75
781   Veggie Soft Tacos        8.75
2851  Veggie Soft Tacos        8.49
1699  Veggie Soft Tacos       11.25
1395  Veggie Soft Tacos        8.49

[4622 rows x 2 columns]

### Step 7. What was the quantity of the most expensive item ordered? 2 ways

In [70]:
chipo[chipo["unit_price"] == chipo["unit_price"].max()]["quantity"].sum() # En este primer método aplicamos la máscara para aislar la fila donde se encuentra el
# item más caro. Luego sacamos el valor de "quantity" correspondiente

np.int64(30)

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [73]:
chipo[(chipo["item_name"]=="Veggie Salad Bowl")]["quantity"].sum()

np.int64(18)

### Step 9. How many times did someone order more than one Canned Soda?

In [77]:
len(chipo[(chipo["item_name"]=="Canned Soda")&(chipo["quantity"] > 1)]) # Con esta máscara buscamos todas las instancias donde se pidieron más de 1 Canned Soda

20