In [29]:
import pandas as pd
import sqlite3

In [30]:
connection = sqlite3.connect("C:\\Users\\Aggelos\\BootcampDataScience\\AngelosTheBridge\\2-Data_Analysis\\8-BBDD\\SQL\\Practica\\my_databaseSQL_TEAM.db")

In [31]:
crsr = connection.cursor()

In [32]:
# Con esta función leemos los datos y lo pasamos a un DataFrame de Pandas
def sql_query(query):

    # Ejecuta la query
    crsr.execute(query)

    # Almacena los datos de la query 
    ans = crsr.fetchall()

    # Obtenemos los nombres de las columnas de la tabla
    names = [description[0] for description in crsr.description]

    return pd.DataFrame(ans,columns=names)

In [33]:
query = """ 
CREATE TABLE Proveedores (
    Nombre VARCHAR,
    Direccion VARCHAR,
    Ciudad VARCHAR,
    Provincia VARCHAR,
    CodigoProveedor INT,
    PRIMARY KEY (CodigoProveedor)
)
"""

In [ ]:
# query = """ 
# INSERT INTO Proveedores (Nombre,Direccion,Ciudad,Provincia,CodigoProveedor) 
# VALUES ("Angelos", "MariaMunoz","Bilbao", "Bizkaia", 0001),
# ("Inigo", "ROnda", "Bilbo", "Bizkaia", 0005)
# """

In [46]:
crsr.execute(query)

OperationalError: near "Bizkaia": syntax error

In [ ]:
query = """ 
CREATE TABLE  Suministro (
    Numero_de_piezas INT,
    Fecha  DATE VARCHAR,
    SuministroID VARCHAR,
    CódigoProveedor INT,
    PRIMARY KEY (SuministroID)
    FOREIGN KEY (CódigoProveedor) REFERENCES Proveedores(CódigoProveedor)

)
"""

In [48]:
crsr.execute(query)

In [ ]:
query = """ 
CREATE TABLE  inVENTArio (
    Código_de_pieza  VARCHAR,
    SuministroID VARCHAR,
    Numero_piezas INT,
    PRIMARY KEY (SuministroID)
    FOREIGN KEY (SuministroID) REFERENCES Suministro(SuministroID)
    FOREIGN KEY (Código_de_pieza) REFERENCES Piezas(Código_de_pieza)

)
"""

In [50]:
crsr.execute(query)

In [ ]:
query = """ 
CREATE TABLE  Piezas (
    Código_de_pieza  VARCHAR,
    Nombre VARCHAR,
    Color VARCHAR,
    Precio DECIMAL,
    Código_de_categoría VARCHAR,
    PRIMARY KEY (Código_de_pieza)
    FOREIGN KEY (Código_de_categoría) REFERENCES inVENTArio(Código_de_categoría)

)
"""

In [52]:
crsr.execute(query)

In [ ]:
query = """ 
CREATE TABLE  Categoría(
    Código_de_categoría VARCHAR,
    NombreC VARCHAR,
    PRIMARY KEY (Código_de_categoría)
)
"""

In [54]:
crsr.execute(query)

In [55]:
connection.commit()
connection.close()